html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: $base-font;
  font-size: 14px;
  line-height: 20px;
  color: $base-color;
}

a {
  text-decoration: none;
}
