.control {
  position: relative;
  display: block;
  padding-left: 36px;
  text-align: left;
  cursor: pointer;
}

.control__input {
  appearance: none;
}

.control__input-label {
  color: $base-black;
}

.control__input-label-disabled {
  color: $gray-color;
}

// радиокнопки для фильтра молока
.control__mark {
  position: absolute;
  display: block;
  content: "";
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: $base-white;
  border-radius: 100%;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
  }
}

// стили для checked, disabled, обычных радиокнопок
// checked
.control__input[type="radio"]:checked + .control__mark {
  outline: 2px solid $accent-color;

  &::before {
    background-color: $accent-color;
  }
}
// disabled
.control__input[type="radio"]:disabled + .control__mark {
  outline: 2px solid $middle-gray-color;
  cursor: no-drop;
}

// default
.control__input[type="radio"] + .control__mark {
  outline: 2px solid $gray-color;

  &::before {
    background-color: transparent;
  }
}
// checked и disabled одновременно
.control__input[type="radio"]:checked:disabled .control__mark::before,
.control__input[type="radio"]:checked:disabled + .control__mark::before {
  outline: 2px solid $middle-gray-color;
  background-color: $middle-gray-color;
}

// состояния
// для подписей у дефолтных радиокнопок
.control__input[type="radio"]:hover:not(:disabled):not(:checked) + .control__mark,
.control__input[type="radio"]:focus:not(:disabled):not(:checked) + .control__mark {
  outline: 2px solid $light-accent-color;

  &::before {
    background-color: $accent-color;
    opacity: 0.25;
  }
}
// для самих радиокнопок
.control__input[type="radio"]:not(:disabled):not(:checked) + .control__mark:hover,
.control__input[type="radio"]:not(:disabled):not(:checked) + .control__mark:focus {
  outline: 2px solid $light-accent-color;

  &::before {
    background-color: $accent-color;
    opacity: 0.25;
  }
}

// чекбоксы для фильтра стран
.control__mark--special {
  position: absolute;
  display: block;
  content: "";
  box-sizing: border-box;
  width: 42px;
  height: 24px;
  top: 0;
  left: 0;
  border: none;
  border-radius: 12px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: $base-white;
    border-radius: 100%;
  }
}

// стили для checked, disabled, обычных чекбоксов
// checked
.control__input[type="checkbox"]:checked + .control__mark--special {
  background-color: $accent-color;
  outline: none;

  &::before {
    left: 48%;
  }
}
// disabled
.control__input[type="checkbox"]:disabled + .control__mark--special {
  background-color: $middle-gray-color;
  cursor: no-drop;

  &::before {
    background-color: $light-gray-color;
  }
}
// default
.control__input[type="checkbox"] + .control__mark--special {
  background-color: $gray-color;
  outline: none;

  &::before {
    left: 2px;
  }
}
// checked и disabled одновременно
.control__input[type="checkbox"]:checked:disabled .control__mark--special,
.control__input[type="checkbox"]:checked:disabled + .control__mark--special {
  background-color: $middle-gray-color;

  &::before {
    background-color: $gray-color;
  }
}

// состояния
// для подписей у дефолтных чекбоксов
.control__input[type="checkbox"]:hover:not(:disabled):not(:checked) + .control__mark--special,
.control__input[type="checkbox"]:focus:not(:disabled):not(:checked) + .control__mark--special {
  outline: 2px solid $light-accent-color;
  background-color: rgba(120, 89, 207, 0.25);


  &::before {
    background-color: $base-white;
  }
}
// для самих чекбоксов
.control__input[type="checkbox"]:not(:disabled):not(:checked) + .control__mark--special:hover,
.control__input[type="checkbox"]:not(:disabled):not(:checked) + .control__mark--special:focus {
  outline: 2px solid $light-accent-color;
  background-color: rgba(120, 89, 207, 0.25);

  &::before {
    background-color: $base-white;
  }
}
