.contacts {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.contacts__element {
  @include font-base;
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 19px;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    color: $dark-accent-color;
  }
}

.contacts__address {
  position: relative;
  font-style: normal;
  text-transform: none;
}

.contacts h2 {
  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.contacts__icon {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 16px;
  top: 2px;
  left: 0;
  background-repeat: no-repeat;
}

.contacts__element--phone {
  display: block;
  color: $base-color;
  margin-bottom: 41px;
}

.contacts__icon--address {
  background-image: url("../../icons/stack.svg#icon-address");
}

.contacts__icon--phone {
  background-image: url("../../icons/stack.svg#icon-phone");
}
