.main-navigation {
  display: flex;
}
// .main-navigation__toggle
// .main-navigation__list
// .main-navigation--closed {
.main-navigation__button {
  margin: 0;
  display: block;
  min-width: 60px;
  padding: 22px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 50% 50%;
  border: none;
  background-color: #ffffff;
}

.main-navigation__button--menu {
  background-image: url("../../icons/stack.svg#navigation-menu");
}

.main-navigation__button--user {
  background-image: url("../../icons/stack.svg#user-menu");
}

.main-navigation__button--basket {
  background-image: url("../../icons/stack.svg#user-basket");
}

// .main-navigation--nojs
